.boton-sumar1-carrito{
    border: none;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
}
.boton-sumar2-carrito{
    width: 35px;
    margin-left: 1rem;
    margin-right: 1rem;
}
.boton-sumar3-carrito{
    border: none;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
}