.boton-sumar1-carrito{
    border: none;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
}
.boton-sumar2-carrito{
    width: 35px;
    margin-left: 1rem;
    margin-right: 1rem;
}
.boton-sumar3-carrito{
    border: none;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
}
.img-carrito{
    width: 6rem;
    height: 6rem;
    object-fit: contain;
    border-radius: 6%;
}