//NAV
header{
    background-color: map-get($map: $paleta, $key:'black');
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    nav{
        display: flex;
        padding: 2rem;
        min-height: 11vh;
        @include cel{
            flex-direction: row;
            justify-content: space-evenly;
        }
        @include smart{
            flex-direction: row;
            justify-content: space-evenly;
        }
        @include tablet{
            flex-direction: row;
            justify-content: space-evenly;
        }
        h1{
            @include texto(4.5rem,100,map-get($map:$paleta, $key: 'white'));
            font-family: $escalada;
            transition: transform .1s;
            &:hover{
                color: map-get($map:$paleta, $key: 'third');
                transform: translateX(.5px);
            }
            @include cel{
                font-size: 3rem;
            }
            @include smart{
                font-size: 3.7rem;
            }
            @include tablet{
                font-size: 3.7rem;
            }
            @include tablet-xl{
                font-size: 3.9rem;
            }
            @include desktop{
                font-size: 4rem;
            }
            @include wide{
                font-size: 4.2rem;
            }
        }
        div ul li a{
            p{
                @include texto(2rem,500,map-get($map:$paleta, $key: 'white'));
                font-family: $escalada;
                transition: transform .1s;
                &:hover{
                    color: map-get($map:$paleta, $key: 'third');
                    transform: translateX(.5px);
                }
                @include cel{
                    font-size: 1.2rem;
                }
                @media screen and (max-width: 687px) and (min-width: 362px){
                    font-size: 1.3rem;
                }
                @include tablet-xl{
                    font-size: 1.5rem;
                }
                @include desktop{
                    font-size: 1.6rem;
                }
                @include wide{
                    font-size: 1.6rem;
                }
            }
        }
    }
}
/**CLASES**/
.contenedor-titulo{
    @media screen and (max-width: 767px){
        margin: auto auto auto .5rem;
    }
}
.logo{
    object-fit: contain;
    width: 200px;
    height: 65px;
    @include cel{
        width: 130px;
    }
    @media screen and (max-width: 687px){
        margin: 0;
        width: 130px;
    }
    @include tablet-xl{
        margin-left: 0;
        width: 130px;
    }
    @include desktop{
        margin-left: .5rem;
        width: 135px;
    }
    @include wide{
        margin-left: .5rem;
        width: 180px;
    }
}
/**BOTONES**/
.svg{
    height: 30px;
    width: 30px;
    fill: map-get($map:$paleta, $key: 'white');
    margin-right: 3rem;
    transition: transform .1s;
    &:hover{
        transform: translateX(.5px);
    }
    @include cel{
        height: 19px;
        width: 19px;
    }
    @include smart{
        height: 20px;
        width: 20px;
    }
    @include tablet{
        height: 22px;
        width: 22px;
    }
    @include tablet-xl{
        height: 24px;
        width: 24px;
        margin-right: 2rem;
    }
    @include desktop{
        height: 26px;
        width: 26px;
        margin-right: 2.3rem;
    }
    @include wide{
        height: 30px;
        width: 30px;
        margin-right: 2.5rem;
    }
}
.svg-cargado{
    height: 30px;
    width: 30px;
    fill: map-get($map:$paleta, $key: 'red');
    margin-right: 3rem;
    transition: transform .1s;
    &:hover{
        transform: translateX(.5px);
    }
    @include cel{
        height: 19px;
        width: 19px;
    }
    @include smart{
        height: 20px;
        width: 20px;
    }
    @include tablet{
        height: 22px;
        width: 22px;
    }
    @include tablet-xl{
        height: 24px;
        width: 24px;
        margin-right: 2rem;
    }
    @include desktop{
        height: 26px;
        width: 26px;
        margin-right: 2.3rem;
    }
    @include wide{
        height: 30px;
        width: 30px;
        margin-right: 2.5rem;
    }
}
.svg-carrito{
    height: 30px;
    width: 30px;
    fill: map-get($map:$paleta, $key: 'white');
    margin-right: 3rem;
    transition: transform .1s;
    &:hover{
        transform: translateX(.5px);
    }
    @include cel{
        height: 19px;
        width: 19px;
    }
    @include smart{
        height: 20px;
        width: 20px;
    }
    @include tablet{
        height: 22px;
        width: 22px;
    }
    @include tablet-xl{
        height: 24px;
        width: 24px;
        margin-right: 2rem;
    }
    @include desktop{
        height: 26px;
        width: 26px;
        margin-right: 2.3rem;
    }
    @include wide{
        height: 30px;
        width: 30px;
        margin-right: 2.5rem;
    }
}
/**HAMBURGUESA Y LISTA**/
.contenedor-listas{
    margin: auto auto;
    @media screen and (max-width: 767px){
        margin: auto 2.5rem auto auto;
    }
}
.lista{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    @media screen and (max-width: 767px){
        flex-direction: column;
        margin-top: 2rem;
    }
}
.listas{
    margin-right: 4rem;
    @media screen and (max-width: 767px){
        margin-right: auto;
    }
    @media screen and (min-width: 768px) and (max-width: 900px){
        margin-right: 2rem;
    }
    @include desktop{
        margin-right: 3.8rem;
    }
    @include wide{
        margin-right: 4rem;
    }
}
.lista2{
    display:none;
    @media screen and (max-width: 767px){
        display: flex;
    }
}
.lista-nav{
    text-align: center;
}