$borders2: #171716;
$hoversMain: #9e4522;
$paleta:(
    'third': #8a8989,
    'forth':rgb(108, 66, 66),
    'white': #ffffff,
    'black': #000000,
    'red':#FE5D1C,
    'yellow':#E8FF94,
    'hibiscus':#F250A9,
    'dedalus':#F23827,
    'honey':#F21D2F,
    'doblepale':#3098D9
);